@font-face {
  font-family: 'Vegan Style';
  src: url('../public/fonts/VeganStylePersonalUse-5Y58.ttf') format('truetype');
  /* Add additional font properties if needed */
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
